body{background-color: rgb(208, 246, 255); 
}
a{
    text-decoration: none;
}
.sent{
    background: rgb(70, 65, 116) url(../resurses/IMG_76601.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: aliceblue;
    min-height: 600px;
    margin: 0px;
    padding: 30px;
}
.bar-ul{
    list-style-type: none;
}
.nomark{
    list-style-type: none;
}
.bar-purpur{
    color: rgb(221, 47, 120);
    font-weight: bolder;
}
.sent-main{
    margin-left: 10%;
}
.sent-main-higt{
    font-size: 25px;
}
.sent-orang{
    color: rgb(221, 47, 120);
    font-size: 40px;
}
.orang{
    
    width: 160px;
    height: 40px;
    background-color: rgb(221, 47, 120);
    color: aliceblue;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(54, 53, 53);
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.center{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.premera{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.bar{
    display: flex;
    width: 100%;
    height: 100%;
}
.bar-ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
@media (max-width: 600px) {.bar-ul{flex-direction: column;}}
.sent-scroll{
    width: 160px;
    height: 40px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(54, 53, 53);
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}
.tel{
    display: flex;
    flex-direction: column;
}
.js{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.why{
    background-color: rgb(156, 196, 216);
    padding: 20px 13%;
    
}
footer{
max-width: 80%;
margin: 30px auto;
}
.sent-text{
    font-style: oblique;
}