body{background-color: rgb(208, 246, 255);
    
}
.sent{
    background: rgb(70, 65, 116) url(../resurses/IMG_76601.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: aliceblue;
    min-height: 600px;
    margin: 0px;
    padding: 30px;
}
.sent-orang{
    color: rgb(255, 118, 6);
}
.orang{
    
    width: 160px;
    height: 40px;
    background-color: rgb(224, 110, 17);
    color: aliceblue;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(54, 53, 53);
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.center{
    min-height: 400px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.bar{
    display: flex;
    width: 100%;
    height: 100%;
}
.bar-ul{
    display: flex;
    width: 100%;
    height: 100%;
}
.sent-scroll{
    width: 160px;
    height: 40px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(54, 53, 53);
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}
.tel{
    display: flex;
    flex-direction: column;
}